/* .은 클래스 이름을 뜻한다. */
.side-bar {
  float: left;
  width: 200px;
  margin: 5px;
}

.side-bar-div {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-top: 5px;
}

.side-bar-ul {
  list-style: none;
  padding-left: 0px;
}

.side-bar-ul a {
  text-decoration-line: none;
}

.side-bar-ul .container {
  margin-left: 16px;
  margin-top: 4px;
}

.side-bar-ul-subtitle {
  font-size: 20px;
  color: black;
}

.side-bar-ul-subtitle:hover {
  color: grey;
  text-decoration: underline;
}

.side-bar-ul-subtitle-li {
  font-size: 16px;
  color: black;
}

.side-bar-ul-subtitle-li:hover {
  font-size: 16px;
  color: grey;
  text-decoration: underline;
  cursor: pointer;
}

/* pagination */
.pagination {
  display: inline-block;
  margin-left: 280px;
  margin-top: 20px;
}

.pagination a {
  color: black;
  padding: 8px 8px;
  margin: 2px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  font-size: 18px;
}

.pagination a.active {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

/* image wrapper */
.profile-img-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
}

.profile-img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50, 50);
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

textarea {
  width: 100%;
  height: 6.25em;
  border: none;
  resize: none;
}
